<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8' />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap-table/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
  <style>
  body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .detail-view {
    background: #eee;
  }
  a.remove {
    color: #c9302c;
  }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand" href="#">当前用户: <%=user.id%></span>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/user/exist/<%=user.id%>">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>城管网格案件管理系统</h1>
    <table id="table"
           data-url="/task/all"
           data-toggle="table"
           data-page-size="20"
           data-page-list="[10, 20, 50, 100]"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-sort-name="createTime"
           data-sort-order="desc"
           data-show-export="true"
           data-search="true"
           data-show-refresh="true"
           data-pagination="true">
      <thead style="background:rgba(220, 220, 220, 0.31);">
      <tr>
        <th data-field="username" data-sortable="true">姓名</th>
        <th data-field="createTime" data-sortable="true" data-formatter="dateFormatter">时间</th>
        <th data-field="hasAuditAdmin" data-formatter="hasAuditAdminStatusFormatter" data-cell-style="statusStyle">审核（管理员）</th>
        <th data-field="hasAuditLead" data-formatter="hasAuditLeadStatusFormatter" data-cell-style="statusStyle">审核（领导）</th>
        <th data-field="hasAccept" data-formatter="hasAcceptStatusFormatter" data-cell-style="statusStyle">已接收</th>
        <th data-field="hasFeedback" data-formatter="hasFeedbackStatusFormatter" data-cell-style="statusStyle">已反馈</th>
        <th data-field="hasConfirm" data-formatter="hasConfirmStatusFormatter" data-cell-style="statusStyle">确认</th>
        <th data-align="center" data-width="60" data-events="operateEvents" data-formatter="operateFormatter">操作</th>
      </tr>
      </thead>
    </table>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
  <script src="/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
  <script src="/bower_components/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
  <script src="/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
  <script src="/bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <script src="/javascripts/pc/tableExport.js"></script>
  <script src="/javascripts/pc/manage.js"></script>
  <script>
    var USER_ADMIN = '1';
    var USER_LEAD = '0';
    var userType = '<%=user.type%>';
    var bgTable = {
        '1': 'lightgreen',
        '0': 'initial',
        '-1': 'pink'
      };

    window.operateEvents = {
      'click .remove': function (e, value, row, index) {
        var confirmed = confirm('是否删除该任务？');
        if (confirmed) {
          $.ajax({
            url: '/task/' + row.id,
            type: 'DELETE',
            success: function(resp) {
              if (resp) {
                console.log('delete task: ', resp);
                $('#table').bootstrapTable('remove', {
                  field: 'id',
                  values: [row.id]
                });
              } else {
                alert('删除失败！');
              }
            },
            error: function(err) {
              alert(err.message);
            }
          });
        }
      }
    };

    function operateFormatter(value, row, index) {
      return [
        '<a class="download" style="margin-right: 8px;" href="/task/msword/' + row.id + '" target="_blank" title="下载">',
        '<i class="glyphicon glyphicon-download-alt"></i>',
        '</a>',
        '<a class="remove" href="javascript:void(0)" title="删除">',
        '<i class="glyphicon glyphicon-remove"></i>',
        '</a>'
      ].join('');
    }

    function timeFormatter(timestamp) {
      if (!timestamp) return '';
      var d = new Date(timestamp);
      return d.toLocaleDateString() + ' - ' + d.toLocaleTimeString();
    }

    function dateFormatter(timestamp) {
      var d = new Date(timestamp);
      return d.toLocaleDateString();
    }

    $('#table').on('post-body.bs.table', function () {
      $('.audit-status').editable();
      $('.audit-status').on('save', function(e, params) {
        console.log(e, params);
        $(e.target.parentElement).css('background', bgTable[params.newValue]);
      });
    });

    var statusListStr = [
      '[',
      '  { value: 0, text: \'待定\' },',
      '  { value: -1, text: \'未通过\' },',
      '  { value: 1, text: \'通过\' }',
      ']'
    ].join('');

    function auditStatusFormatterGenerator(name) {
      return function(status, row, index) {
        var disabled = true;
        if ( (row.hasFeedback && name === 'hasConfirm')
          || (userType === USER_ADMIN && name === 'hasAuditAdmin')
          || (userType === USER_LEAD && name === 'hasAuditLead')) {
          disabled = false;
        }
        return '<a href="#" class="audit-status" data-type="select" data-pk="'+row.id+'" data-name="'+name+'" data-url="/task/updatestatus" data-source="'+statusListStr+'" data-value="'+status+'" data-disabled="'+disabled+'" data-success="onStatusUpdateSuccess" data-title="审核状态"></a>';
      }
    }

    function taskStatusFormatterGenerator(name) {
      return function(status, row, index) {
        switch(row[name]) {
          case 1:
            return '是';
          default:
            return '-';
        }
      }
    }

    var hasAuditAdminStatusFormatter = auditStatusFormatterGenerator('hasAuditAdmin');
    var hasAuditLeadStatusFormatter = auditStatusFormatterGenerator('hasAuditLead');
    var hasAcceptStatusFormatter = taskStatusFormatterGenerator('hasAccept');
    var hasFeedbackStatusFormatter = taskStatusFormatterGenerator('hasFeedback');
    var hasConfirmStatusFormatter = auditStatusFormatterGenerator('hasConfirm');

    $.fn.editable.defaults.ajaxOptions = {type: "put"};

    function statusStyle(value, row, index, field) {
      return {
        css: {"background": bgTable[value]}
      };
    }

    function escapeNullValue(val) {
      if (val === undefined || val === null) return '';
      return val;
    }

    function detailFormatter(index, row) {
      var html = [];
      html.push('<table class="table">')
      html.push('<tr>')
      html.push('  <td><strong>姓名：</strong>' + escapeNullValue(row.username) + '</td>')
      html.push('  <td><strong>主类别：</strong>' + escapeNullValue(row.mainCat) + '</td>')
      html.push('</tr>')
      html.push('<tr>')
      html.push('  <td><strong>电话：</strong>' + escapeNullValue(row.phone) + '</td>')
      html.push('  <td><strong>次类别：</strong>' + escapeNullValue(row.subCat) + '</td>')
      html.push('</tr>')
      html.push('<tr>')
      html.push('  <td colspan=2><strong>创建时间：</strong>' + timeFormatter(row.createTime) + '</td>')
      html.push('</tr>')
      html.push('<tr>')
      html.push('  <td colspan=2><strong>描述：</strong>' + escapeNullValue(row.description) + '</td>')
      html.push('</tr>')

      if (row.imgPaths && row.imgPaths.length > 0) {
        html.push('<tr style="background:rgba(245, 245, 245, 0.52);">')
        html.push('  <td colspan=2>')
        row.imgPaths.forEach(function(path, i) {
          html.push('<a href="#" class="thumbnail" data-toggle="modal" data-target="#'+path.userId+'">')
          html.push('  <img src="' + path.thumbnail + '" style="width:120px;height:120px;display:inline;"/>')
          html.push('</a>')
          if (i === 0) {
            html.push('  <div id="'+path.userId+'" class="modal fade bs-example-modal" tabindex="-1" role="dialog"><div class="modal-dialog" role="document"><div class="modal-content">')
            html.push(genImageSlider(row.imgPaths));
            html.push('  </div></div></div>');
          }
        })
        html.push('  </td>')
        html.push('</tr>')
      }

      if (row.hasFeedback == 1) {
        html.push('<tr>')
        html.push('  <td colspan=2><strong>反馈：</strong>' + escapeNullValue(row.feedback) + '</td>')
        html.push('</tr>')
        if (row.feedbackImgPaths && row.feedbackImgPaths.length > 0) {
          html.push('<tr>')
          html.push('  <td colspan=2>')
          row.feedbackImgPaths.forEach(function(path, i) {
          html.push('<a href="#" class="thumbnail" data-toggle="modal" data-target="#'+path.userId+'">')
          html.push('  <img src="' + path.thumbnail + '" style="width:120px;height:120px;display:inline;"/>')
          html.push('</a>')
          if (i === 0) {
            html.push('  <div id="'+path.userId+'" class="modal fade bs-example-modal" tabindex="-1" role="dialog"><div class="modal-dialog" role="document"><div class="modal-content">')
            html.push(genImageSlider(row.feedbackImgPaths));
            html.push('  </div></div></div>');
          }
        })
          html.push('  </td>')
          html.push('</tr>')
        }
      }
      return html.join('');
    }

    function audit(taskId, value) {
      var property = {};
      if (userType == USER_ADMIN) {
        property.hasAuditAdmin = value;
      } else if (userType == USER_LEAD) {
        property.hasAuditLead = value;
      }

      $.ajax({
        url: '/task/' + taskId,
        data: property,
        type: 'PUT',
        success: function(res) {
          console.log(res);
        },
        error: function(err) {
          console.error(err);
          alert(err.message);
        }
      });
    }

    function auditPass(taskId) {
      audit(taskId, 1);
    }

    function auditReject(taskId) {
      audit(taskId, -1);
    }

    function genImageSlider(imgPaths) {
      var html = '';
      html += '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">'
      html += '  <ol class="carousel-indicators">'
      imgPaths.forEach(function(v, i) {
        html += '  <li data-target="#carousel-example-generic" data-slide-to="' + i + '"' + (i==0?'class="active">':'') + '</li>'
      });
      html += '  </ol>'
      html += '  <div class="carousel-inner" role="listbox">'
      imgPaths.forEach(function(path, i) {
        html += '  <div class="item' + (i==0?' active':'') + '">'
        html += '    <img src="' + (path.original || path.thumbnail) + '">'
        html += '    <div class="carousel-caption">'
        html += '    </div>'
        html += '  </div>'
      });
      html += '  </div>'
      html += '  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">'
      html += '    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'
      html += '    <span class="sr-only">Previous</span>'
      html += '  </a>'
      html += '  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">'
      html += '    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>'
      html += '    <span class="sr-only">Next</span>'
      html += '  </a>'
      html += '</div>'
      return html;
    }
  </script>
</body>

</html>