body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.md-button {
  width: 100%;
}

.status-reject {
  background: pink;
}

.status-pass {
  background: lightgreen;
}